<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticController</servlet-name>
        <servlet-class>controller.auth.Authentic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.management.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.management.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.management.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.management.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>controller.customer.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomer</servlet-name>
        <servlet-class>controller.customer.InsertCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>controller.customer.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDocument</servlet-name>
        <servlet-class>controller.document.SearchDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocument</servlet-name>
        <servlet-class>controller.document.DeleteDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDocument</servlet-name>
        <servlet-class>controller.document.InsertDocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/searchcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomer</servlet-name>
        <url-pattern>/insertcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/editcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDocument</servlet-name>
        <url-pattern>/searchdocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocument</servlet-name>
        <url-pattern>/deletedocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDocument</servlet-name>
        <url-pattern>/insertdocument</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
