html,
body {
    margin:0;
    padding:0;
    height:100%;
}
.container {
    min-height:100%;
    position:relative ;
    text-align: center;
}
.header {
    background:#e5efc1;
    padding:10px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    text-align: center;
}

.body {
    padding:10px;
    margin: 10px;
    padding-bottom: 200px;
}
.body .banner img{
    width: 100%;
    height: 800px;
}
#staff #table{
    margin-top: 50px;
    margin-left: 780px;
    margin-bottom: 180px;
}
#staff .table{
    margin-top: 10px;
    margin-left: 580px;
    margin-bottom: 20px;
}
#staff{
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 25px;
}
#staff .insert-staff{
    margin-left: 770px;
    margin-bottom: 20px;
    font-size: 25px;
}
#staff .insert-staff select{
    padding:5px 0;
    margin: 2px;
}
#staff .insert-staff .input{
    padding:5px 0;
    margin: 2px;
}
#staff #table .input{
    padding:5px 0;
    margin: 2px;
}
#staff #table select{
    padding:5px 0;
    margin: 2px;
}
.body-insert{
    margin-top: 50px;
    margin-bottom:200px;
}
#staff .save{
    background: rgba(140,148,129,0.1);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
}
#staff .add{
    background: rgba(140,148,129,0.1);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:150px;   /* Height of the footer */
    background:#557b83;
    text-align: center;
    padding: 5px 0;
    font-size:17px;
    color: white;
}
.menu a{
    text-decoration: none;
    display: flex;
    color: black;
    margin-top: 60px;
    font-size: 25px;
    margin-left: 35px;
    border-radius: 3px;
    background: white;
    
}
.menu ul{
    display: flex;
    list-style-type: none;
    margin-top:20px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
.container-1 input#search{
  margin-top: 60px;
  width: 300px;
  height: 40px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}
.container1{
    margin: 20px 10px;
}
.container1 span{
    background: activecaption;
    color: blue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
}
.container1 a{
   background: activecaption;
    color: white;
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
}